name = "json-tc-js"
description = "statically-typed JSON data using type-conv targeting javascript"

package "syntax" (
  requires = "camlp4 jsonoj type-conv type-conv.syntax"
  archive(syntax, preprocessor) = "pa_json_tc.cmo"
  archive(syntax, toploop) = "pa_json_tc.cmo"
)
